* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f3f09f;
  max-width: 2000px;
  margin: 0 auto;
}

nav {
  width: 200px;
  height: 100vh;    
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 5px 3px grey;
  background-color: rgb(124, 172, 245);
}

nav p {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 30px;
  border-bottom: 2px groove #80808052;
}

nav ul {
  list-style: none;
  margin: 20px 10px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin-bottom: 5px;
}

nav p {
  color: black;
}
nav a:hover {
  color: white;
  background-color: #adadaa;
  box-shadow: 1px 1px 5px 0px grey;
}


#menu__toggle, .menu__btn {
  display: none;
}
@media screen and (max-width: 1000px) {
  nav {
      display: none;
      z-index: 10;
  }

  nav p {
      padding: 25px 0 25px 70px;
  }

  #menu__toggle, .menu__btn {
      display: block;
      position: fixed;
      top: 25px;
      left: 30px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 20;
  }

  #menu__toggle {
      display: block;
      opacity: 0;
  }

  .menu__btn {
      display: flex;
      align-items: center;
  }

  #menu__toggle:checked ~ nav {
      display: block;
  }

  #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
  }

  .menu__btn span, .menu__btn span::before, .menu__btn span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: black;
      transition-duration: .25s;
  }

  .menu__btn span::before {
      content: '';
      top: -8px;
  }

  .menu__btn span::after {
      content: '';
      top: 8px;
  }
  
  
  .header {
    margin-left: 0px;
    width: 100%;
    
  }
  .cont{
  
    margin-left: 100px;
  }
  
  .picture{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    position: relative;
    text-align: center;
    font-size: 0.7em;
  }
  .picture img{
    margin-left: 0;
  }
  .picture{
    font-size: 1em;

  }
  .footer {
    margin-left: 0;
    left: 0;
   
}
  }
 @media screen and (max-width: 800px){
  .header {
    margin-left: 0px;
    width: 100%;
    
  }
  .cont{
  
    margin-left: 100px;
  }
  
  .picture{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    position: relative;
    text-align: center;
    font-size: 0.7em;
  }
  .picture img{
    margin-left: 0;
  }
  .picture{
    font-size: 1em;

  }
  /* не могу понять почему футер не растягиваеться на весь экран*/
  .footer {
    margin-left: 0;
    left: 0;
    width: 100%;
    
  }
}

@media screen and (max-width: 380px) {
  .footer {
    margin-left: 0px;
    left: 0;
  }
}

